/*CLEARFIX*/
.clearfix:after {
	content: ".";	
	display: block;	
	clear: both; 
	visibility: hidden; 
	line-height: 0; 
	height: 0;} 

.clearfix {	
	display: inline-block;
} 

html[xmlns] .clearfix {
	display: block;
} 

* {
	box-sizing: border-box;
}


/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
	display:block;
}

ol,ul {
	list-style:none;
}

blockquote,q{
	quotes:none;
}

blockquote:before,blockquote:after,
q:before,q:after {
	content:'';content:none;
}

/*BELOW IS MY CODING*/

*{
	box-sizing: border-box;
}

html, body {
	padding: 0;
	margin: 0;
	color: black;
	}

header {
	background: url(../images/bluemarble.jpg) no-repeat center center;
	background-size: cover;
	padding: 40px 0;
}

h2 {
  color: #232b68;
  text-align: left;
  font-family: 'Roboto Slab', serif;
  font-size: 35px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

h3 {
  color: #d8c05f;
  text-align: center;
  font-family: 'Roboto Slab', serif;
  font-size: 25px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

h4 {
	color: #313945;
	font-family: 'Roboto Slab', serif;
	font-size: 15px;
	text-transform: uppercase;
	letter-spacing: 0.1em;
}

h5 {
	color: #d8c05f;
	font-family: 'Roboto Slab', serif;
	font-size: 20px;
	text-transform: uppercase;
	letter-spacing: 0.1em;
}

.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	/*background-color: grey;*/
	padding-left: 5px;
	padding-right: 5px;

}

.logo {
  text-align: center;
  padding-bottom: 20px;
  display: block;
  margin: 0 auto;
}

.tagline {
  color: white;
  text-align: center;
  font-family: 'Nunito', sans-serif;
  font-size: 28px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.menu {
	background-color: #d8c05f;
	text-align: center;
	color: #333333;
	font-family: 'Roboto Slab', serif;
	padding: 5px;
}

.menu ul {
	display: flex;
	justify-content: space-between;
}

.menu ul li {
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	margin: 0 auto;
	position: relative;
	padding-top: 15px;
	background-color: #d8c05f;

}

 /* CSS link color (charcoal) */
.menulink { 
	color: #262626; 
	-webkit-transition: all 0.2s ease;
	-moz-transition:    all 0.2s ease;
	-o-transition:      all 0.2s ease;
	-ms-transition:     all 0.2s ease;
	transition:         all 0.2s ease;
}

/* CSS link hover (white) */
.menulink:hover { 
	color: #ffffff; 
	text-decoration: none;
	cursor: pointer;
}

#navbar {
	overflow: hidden;
	display: flex;
	justify-content: space-around;
}

#navbar nav {
    width: 100%;
}

#navbar nav ul {
	display: flex;
    justify-content: space-evenly;
}

/* Page content */
.content {
  padding: 16px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}

.burger {
	display: none;
	align-items: center;
	margin: 0 auto;
}

.HeroCarousel {
	width: 100%;
}


.HeroCarousel .heroSlide1 {
	background:url(../images/Mayers-1.jpg) no-repeat center center;
	background-size: cover;
	height: 600px;
	position: relative;
}

.HeroCarousel .heroSlide2 {
	background:url(../images/Mayers-2.jpg) no-repeat center center;
	background-size: cover;
	height: 600px;
	position: relative;
}

.HeroCarousel .heroSlide3 {
	background:url(../images/Mayers-3.jpg) no-repeat center center;
	background-size: cover;
	height: 600px;
	position: relative;
} 

.HeroCarousel .heroSlide4 {
	background:url(../images/Mayers-4.jpg) no-repeat center center;
	background-size: cover;
	height: 600px;
	position: relative;
}

.HeroCarousel .heroSlide5 {
	background:url(../images/Warehouse-1.jpg) no-repeat center center;
	background-size: cover;
	height: 600px;
	position: relative;
}

.HeroCarousel img {
	width: 100%;
	display: block;
	/*height: 100%;*/
}

.fa-chevron-left {
	font-size: 55px;
	position: absolute;
	left:50px;
	top:50%;
	z-index:50;
	color:white;
	text-shadow: 0px 0px 15px #000;
	cursor: pointer;
}

.fa-chevron-right {
	left:auto;
	right:50px;
	font-size: 55px;
	position: absolute;
	color:white;
	text-shadow: 0px 0px 15px #000;
	top:50%;
	cursor: pointer;
}

.slick-dots {
	margin:0 auto;
	padding:0 auto;
	text-align: center;
	margin-top: -25px;
	bottom: 150px;
}

.slick-dots li {
	display: inline-block;
	background-color: white;
	height: 12px;
	width: 12px;
	border-radius: 50%;
	margin: 0 4px;
	opacity: 0.5;
	transform: translateY(-300%);
}

.slick-dots li button {
	display:none;
}

.slick-dots li.slick-active {
	opacity: 1;
}

.see-more {
	background: url(../images/bluemarble.jpg) no-repeat center center;
	background-size: cover;
	padding: 25px 0;
	text-align: center;
}

.SpecialCarousel {
	width: 100vw;
}

.SpecialCarousel img {
	width: 100%;
	display: block;
	/*height: 100%;*/
	position: relative;
}

.mayers-history {
	font-family: 'Roboto Slab', serif;
	color: white;
	font-size: 35px;
	margin: 0;
	padding: 5px 0 5px;
}

.mayers-history:hover { 
	color: #d8c05f; 
	text-decoration: none;
}

.special {
	background: url(../images/blue-warehouse.jpg) no-repeat center center;
	background-size: cover;
	padding: 40px 0;
	text-align: center;
	color: white;
}

.quote {
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	text-align: center;
	padding: 0 200px;
}

.name-company {
	font-family: 'Roboto Slab', serif;
	font-size: 35px;
	text-align: center;
}

.special img { 
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.flex-special {
	display:flex;

}

.partnerships {
	background: url(../images/bluemarble.jpg) no-repeat center center;
	background-size: cover;
	text-align: center;
	padding: 40px 0;

}

.carousel2 {
	width: 100% !important;
}

.partnerships-container {
	flex-direction: row;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 10px; /* Some padding */  
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

.form {
	background: url(../images/marble.jpg) no-repeat center center;
	padding: 50px 0;
	color: #232b68;
	font-family: 'Nunito', sans-serif;
	font-size: 15px;
	text-transform: uppercase;
	letter-spacing: 0.2em;
}

.form h3 {
	text-align: left;
	padding-bottom: 20px;
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
	background-color: #232b68;
	color: white;
	font-family: 'Nunito', sans-serif;
	font-size: 15px;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	width: 100%;
	height: 50px;
	border: none;
	border-radius: 4px;
	box-sizing: border-box;
	cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #d8c05f;
}

/* Add a background color and some padding around the form */
.form-container {
  border-radius: 5px;
  padding: 20px;
}

iframe {
	width: 100%;
	height: 100%;
}

.wrapper {
	text-align: center;
	margin: 0 auto;
}

.top-btn {
	background-color: grey;
	color: white;
	font-family: 'Nunito', sans-serif;
	font-size: 15px;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	width: 100%;
	height: 50px;
	padding: 10px 15px;
	cursor: pointer;
}

.footer {
	background: url(../images/blue-warehouse.jpg) no-repeat center center;
	background-size: cover;
	text-align: center;
	padding: 5px 0;
}

.footer p {
	color: white;
	font-size: 15px;
	text-align: center;
	margin: 10px 50px;
}

.footer nav {
	text-align: center;
	margin: 0 auto;
	color: white;
	font-size: 15px;
}

.flex-footer {
	display:flex;
	flex-direction: row;
	justify-content: space-between;
	text-align: center;
}

.flex-footer ul {
	display: flex;
	padding: 0;
	align-items: center;
    justify-content: space-evenly;
}

.flex-footer ul li {
	display: inline-block;
	padding: 10px;
}


/* CSS link color (charcoal) */
.footerlink { 
	color: white; 
	-webkit-transition: all 0.2s ease;
	-moz-transition:    all 0.2s ease;
	-o-transition:      all 0.2s ease;
	-ms-transition:     all 0.2s ease;
	transition:         all 0.2s ease;
}

/* CSS link hover (white) */
.footerlink:hover { 
	color: #d8c05f; 
	text-decoration: none;
}

i {
	font-family: 'FontAwesome';
	font-style: normal;
	font-size: 50px;
	padding: 0 5px;
}

.about-history {
  display: flex;
  padding: 15px; /* if you want space between the images */
}

.about-warehouse {
  display: flex;
  padding: 15px; /* if you want space between the images */
  position: relative;
}

.section-group {
	max-width: 940px;
	margin: 0 auto;
	padding: 15px;
}

.section-group section {
	margin: 20px 0;
}

.caption {
	font-size: 10px;
	padding: 5px 0;
	font-family: 'Nunito', sans-serif;
	text-transform: uppercase;
}

.servicetimes p {
	color: black;
}

.servicetimes ul li {
	color: black;
	margin: 0 -20px;
	list-style:disc;
}

.servicetimes h3 {
	font-size: 20px;
	text-align: left;
}

.servicetimes a {
	color: black;
}

.contactdetails {
	color: black; 
	-webkit-transition: all 0.2s ease;
	-moz-transition:    all 0.2s ease;
	-o-transition:      all 0.2s ease;
	-ms-transition:     all 0.2s ease;
	transition:         all 0.2s ease;
}

/* CSS link hover (white) */
.contactdetails:hover { 
	color: #d8c05f; 
	text-decoration: none;
}


@media (max-width:1000px) {

	.open {
		top: 50px !important;
	}

	.menu nav {
		width: 100%;
		position:absolute;
		background-color: #d8c05f;
		top: 2000px;
		left: 0;
		padding: 60px 0 20px 0;
		transition: 0.3s ease;
	}

	.menu nav ul {
		margin: 0;
		padding: 0;
		flex-direction: column;
	}

	.menu ul li {
		display: block;
		padding: 10px 20px;

	}

	.burger {
		display: flex;
		font-size: 40px;
		cursor: pointer;
		margin-left: auto;
		text-align: center;
	}

	.quote { 
		padding: 0 50px;
	}

	.logo {
		width: 100%;
	}

	.form {
		width: 100%;
		padding: 50px;
	}

	.servicetimes {
		padding: 50px;
	}

}

@media (max-width:600px) {

	.open {
		top: 50px !important;
	}
	.menu nav {
		width: 100%;
		position:absolute;
		background-color: #d8c05f;
		top: 1200px;
		left: 0;
		padding: 85px 0 10px 0;
		transition: 0.3s ease;

	}

	.menu nav ul {
		margin: 0;
		padding: 0;
		flex-direction: column;
	}
	
	.menu ul li {
		display: block;
		padding: 10px 20px;

	}

	.burger {
		display: flex;
		font-size: 40px;
		cursor: pointer;
		margin-left: auto;
		text-align: center;
	}

	.quote { 
		padding: 0 50px;
	}

	.logo {
		width: 100%;
	}

	.form {
		width: 100%;
		padding: 50px;
	}

	.servicetimes {
		padding: 50px;
	}

}

@media (max-width:500px) {

	.open {
		top: 50px !important;
	}

	.menu nav {
		width: 100%;
		position:absolute;
		background-color: #d8c05f;
		top: 1000px;
		left: 0;
		padding: 50px 0 10px 0;
		transition: 0.3s ease;

	}

	.menu nav ul {
		margin: 0;
		padding: 0;
		flex-direction: column;
	}
	
	.menu ul li {
		display: block;
		padding: 10px 20px;

	}

	.burger {
		display: flex;
		font-size: 40px;
		cursor: pointer;
		margin-left: auto;
		text-align: center;
	}

	.fa-chevron-left {
		font-size: 15px;
		position: absolute;
		left:15px;
		top:50%;
		z-index:50;
		color:white;
		text-shadow: 0px 0px 15px #000;
		cursor: pointer;
	}

	.fa-chevron-right {
		left:auto;
		right:15px;
		font-size: 15px;
		position: absolute;
		color:white;
		text-shadow: 0px 0px 15px #000;
		top:50%;
		cursor: pointer;
	}

}


